# NextAuth & Google OAuth
AUTH_SECRET=sua_chave_secreta_nextauth_gerada_com_openssl_rand_base64_32
AUTH_GOOGLE_ID=seu_google_client_id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=seu_google_client_secret

# Firebase Admin SDK
FIREBASE_PROJECT_ID=seu-projeto-firebase
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@seu-projeto-firebase.iam.gserviceaccount.com
# Pode ser informado em Base64 ou texto PEM com \n
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQD...==\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=seu-projeto-firebase.appspot.com

# Aplicação
NEXT_PUBLIC_APP_URL=http://localhost:3000
